
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer de mot de passe </title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/admin/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/admin/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/admin/assets/css/app.css">
    <link rel="stylesheet" href="/admin/assets/css/pages/auth.css">
</head>

<body>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="/"><h1>HiParty</h1></a>
            </div>
            <h1 class="">Changement de mot de passe</h1>
            <p class="auth-subtitle mb-5">Entrez votre nouveau mot de passe.</p>

            {{ form_start(resetForm) }}
                

                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="form-group position-relative has-icon-left mb-4">
                    {{ form_widget(resetForm.plainPassword.first, {'attr':{'class': 'form-control form-control-xl', 'placeholder': "Mot de passe"}}) }}
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <span class="text-danger">{{ form_errors(resetForm.plainPassword.first)}}</span>   
                
                <div class="form-group position-relative has-icon-left mb-4">
                    {{ form_widget(resetForm.plainPassword.second, {'attr':{'class': 'form-control form-control-xl', 'placeholder': "Répetez votre mot de passe"}}) }}
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Envoyer</button>
            {{ form_end(resetForm) }}
            <div class="text-center mt-5 text-lg fs-4">
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>

    </div>
</body>

</html>
