{% extends 'base_dash.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="page-heading">
    <h3>Votre profil</h3>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-content row">
                    <div class="col-12 col-sm-2 col-lg-1 mb-4">
                        <div class="avatar avatar-xl bg-primary">
                            <span class="avatar-content ">{{user.firstname|slice(0, 1)|upper}}{{user.name|slice(0, 1)|upper}}</span>
                        </div>
                    </div>
                    
                    <div class="name col-12 col-sm-10">
                        <h5 class="font-bold">{{user.firstname}} {{user.name}}</h5>
                        <h6 class="text-muted mb-5">{{user.email}}</h6>
                        {% if is_granted("ROLE_CONTRIB") %}
                            <span class="badge bg-primary">Organisateur vérifé.</span>
                        {% else %}
                            <span class="badge bg-primary mb-3">Fêtard.</span><br>
                            <a href="{{ path('verify') }}" style="text-decoration: underline;">Devenir organisateur</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
